<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><%= renk1 %></li>
        <li><%=  renk2 %></li>
        <li><%= renk3 %></li>
    </ul>
</body>
</html>